<%- include('../partials/header') %>
<%- include('../partials/navbar') %>  
<section class="container pt-xl-2 pb-5 mb-md-3 mb-lg-5" style="margin-top: 80px;">
    <div class="d-md-flex align-items-center justify-content-between text-center text-md-start pb-1 pb-lg-0 mb-4 mb-lg-5">
      <h2 class="h1 mb-md-0">Médecins spécialistes qualifiés</h2>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

      <!-- Item -->
      <div class="col">
        <div class="card card-hover border-0 bg-transparent">
          <div class="position-relative">
            <img src="img/team/16.jpg" class="rounded-3" alt="Dr. Ronald Richards">
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
              <div class="position-relative d-flex zindex-2">
                <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                  <i class="bx bxl-facebook"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                  <i class="bx bxl-linkedin"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                  <i class="bx bxl-twitter"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body text-center p-3">
            <h3 class="fs-lg fw-semibold pt-1 mb-2">Dr. Ronald Richards</h3>
            <p class="fs-sm mb-2">Neurosurgeon</p>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-nowrap me-1">
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
              </div>
              <span class="fs-xs text-muted">(19 reviews)</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="col">
        <div class="card card-hover border-0 bg-transparent">
          <div class="position-relative">
            <img src="img/team/17.jpg" class="rounded-3" alt="Dr. Esther Howard">
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
              <div class="position-relative d-flex zindex-2">
                <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                  <i class="bx bxl-facebook"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                  <i class="bx bxl-linkedin"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                  <i class="bx bxl-twitter"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body text-center p-3">
            <h3 class="fs-lg fw-semibold pt-1 mb-2">Dr. Esther Howard</h3>
            <p class="fs-sm mb-2">Therapist</p>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-nowrap me-1">
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
              </div>
              <span class="fs-xs text-muted">(4 reviews)</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="col">
        <div class="card card-hover border-0 bg-transparent">
          <div class="position-relative">
            <img src="img/team/18.jpg" class="rounded-3" alt="Dr. Jerome Bell">
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
              <div class="position-relative d-flex zindex-2">
                <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                  <i class="bx bxl-facebook"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                  <i class="bx bxl-linkedin"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                  <i class="bx bxl-twitter"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body text-center p-3">
            <h3 class="fs-lg fw-semibold pt-1 mb-2">Dr. Jerome Bell</h3>
            <p class="fs-sm mb-2">Anesthesiologist</p>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-nowrap me-1">
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bx-star text-muted fs-sm opacity-75"></i>
              </div>
              <span class="fs-xs text-muted">(12 reviews)</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="col">
        <div class="card card-hover border-0 bg-transparent">
          <div class="position-relative">
            <img src="img/team/19.jpg" class="rounded-3" alt="Dr. Ralph Edwards">
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
              <div class="position-relative d-flex zindex-2">
                <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                  <i class="bx bxl-facebook"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                  <i class="bx bxl-linkedin"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                  <i class="bx bxl-twitter"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body text-center p-3">
            <h3 class="fs-lg fw-semibold pt-1 mb-2">Dr. Ralph Edwards</h3>
            <p class="fs-sm mb-2">Surgeon</p>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-nowrap me-1">
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
              </div>
              <span class="fs-xs text-muted">(8 reviews)</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="col">
        <div class="card card-hover border-0 bg-transparent">
          <div class="position-relative">
            <img src="img/team/20.jpg" class="rounded-3" alt="Dr. Darrell Steward">
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
              <div class="position-relative d-flex zindex-2">
                <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                  <i class="bx bxl-facebook"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                  <i class="bx bxl-linkedin"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                  <i class="bx bxl-twitter"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body text-center p-3">
            <h3 class="fs-lg fw-semibold pt-1 mb-2">Dr. Darrell Steward</h3>
            <p class="fs-sm mb-2">Cardiologist</p>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-nowrap me-1">
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bx-star text-muted fs-sm opacity-75"></i>
              </div>
              <span class="fs-xs text-muted">(14 reviews)</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="col">
        <div class="card card-hover border-0 bg-transparent">
          <div class="position-relative">
            <img src="img/team/21.jpg" class="rounded-3" alt="Dr. Annette Black">
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
              <div class="position-relative d-flex zindex-2">
                <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                  <i class="bx bxl-facebook"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                  <i class="bx bxl-linkedin"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                  <i class="bx bxl-twitter"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body text-center p-3">
            <h3 class="fs-lg fw-semibold pt-1 mb-2">Dr. Annette Black</h3>
            <p class="fs-sm mb-2">Pediatrician</p>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-nowrap me-1">
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bx-star text-muted fs-sm opacity-75"></i>
              </div>
              <span class="fs-xs text-muted">(10 reviews)</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="col">
        <div class="card card-hover border-0 bg-transparent">
          <div class="position-relative">
            <img src="img/team/22.jpg" class="rounded-3" alt="Dr. Dianne Russell">
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
              <div class="position-relative d-flex zindex-2">
                <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                  <i class="bx bxl-facebook"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                  <i class="bx bxl-linkedin"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                  <i class="bx bxl-twitter"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body text-center p-3">
            <h3 class="fs-lg fw-semibold pt-1 mb-2">Dr. Dianne Russell</h3>
            <p class="fs-sm mb-2">Dentist</p>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-nowrap me-1">
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
              </div>
              <span class="fs-xs text-muted">(5 reviews)</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="col">
        <div class="card card-hover border-0 bg-transparent">
          <div class="position-relative">
            <img src="img/team/23.jpg" class="rounded-3" alt="Dr. Courtney Henry">
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
              <div class="position-relative d-flex zindex-2">
                <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                  <i class="bx bxl-facebook"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                  <i class="bx bxl-linkedin"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                  <i class="bx bxl-twitter"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body text-center p-3">
            <h3 class="fs-lg fw-semibold pt-1 mb-2">Dr. Courtney Henry</h3>
            <p class="fs-sm mb-2">Gynecologist</p>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-nowrap me-1">
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
                <i class="bx bxs-star text-warning fs-sm"></i>
              </div>
              <span class="fs-xs text-muted">(16 reviews)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('../partials/footer') %> 